/*--animation-loader*/
.loader {
	z-index: 6;
    position: absolute;
  	width: 100%;
  	height: 50px;
  	text-align: center;
}

.loader-side {
	width: 80px;
	height: 80px;
	display: inline-block;
	z-index: 16;
	opacity: 1;
	margin: 200px auto;
	border-radius: 60px;
	border-top: 4px solid  #9356DC;
	border-right: 4px solid rgba(91, 25, 93, 0.4);
	border-bottom: 4px solid #FF79da;
	border-left: 4px solid rgba(91, 25, 93, 0.4);
	animation-name: spin;	
	animation-duration: 2000ms;	
	animation-timing-function: linear;	
	animation-iteration-count: 2;	
	animation-fill-mode: forwards;	
  }

@keyframes spin {
	0% {
		transform: rotate(0deg);
	  	overflow: hidden;
	}
	100% {
		transform: rotate(360deg);
	  	visibility: hidden;
	}
}
  
/*  ANIMATION - Page blanche Loader */

.loaderStart {
	animation: whitePage 4s;
}

@keyframes whitePage {
	0% {		
	  opacity: 0.5;
	}
  
	50% {
		opacity: 0.5;
	}
  
	100% {
		opacity: 1;
	}
}